#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  width: 150px;
  height: 150px;
}

svg {
  width: 100px;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

#btnOff,
#btnOn {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(180deg, #e0e1e5, #babcc5);
}

#btnOn {
  background: linear-gradient(180deg, #32a3fb, #1455ec);
  opacity: 0;
  pointer-events: none;
}
