/*update vishal*/


body {
    font-family: 'gothambook' !important;
}

.highlight {
    font-weight: bolder;
    font-size: larger;
}

.noalign {
    text-align: unset !important;
}

.section4 .right-content img {
    max-width: 600px !important;
}

.wrap-2 {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    margin: 0 auto;
    overflow: hidden;
}

.section-heading-blue {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 36px;
    color: #003B7E;
    font-family: 'GothamBold';
}

.section-heading-blue-small {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 26px;
    color: #003B7E;
    font-family: 'GothamBold';
}

.section-white-full-width {
    display: block;
    padding: 50px 50px!important;
}

.mb-50 {
    margin-bottom: 50px;
}

.section-heading-white-small {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 26px;
    font-family: 'GothamBold';
    padding-left:0!important;
}



.track-talk {
    margin-bottom: 40px;
    display: flex;
}

.section-gray-lass-pad {
    margin-top: 20px;
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
}

.icon-box-1-container {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.icon-box-1 {
    min-height: 300px;
    height: 300px;

    padding: 1.5rem;
}

.icon-box-1-content {
    border: 1px solid #003B7E;
    height: 100%;
}

.icon-box-1-content>.icon-holder {
    width: 8rem;
    height: 8rem;
    margin: -4rem auto;
    background-color: #ffe500;
    border: .5rem solid #f2f2f2;
    border-radius: 4rem;
    line-height: 7rem;
    vertical-align: middle;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.icon-box-1-content>.text-holder {
    text-align: center;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: .5rem;
    margin-top: 4rem;
    font-family: 'gothambook';
}

.logo {
    top: 0;
    left: 0;
    position: fixed;
    margin-left: 0 !important;
    z-index: 10;
}

.header-menu {
    top: 0;
    right: 0;
    position: fixed;
    margin-right: 0 !important;
    z-index: 10;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.two-column-break {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    text-align: justify;
    column-gap: 70px;
}

/*
@media (min-width: 400px) {
    .two-column-break {
        -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
}

@media (min-width: 600px) {
    .cols3 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
*/

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    /* margin-right: 1.5rem!important;
    margin-left: 1.5rem!important; */
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.didu-img {
    margin-bottom: .5rem !important;
    width: 30rem;
    height: auto;

}


.centre-this {
    text-align: center !important;
}

.w18-rem {
    width: 18rem !important;
    height: auto;
}

.padr-60px {
    padding-right: 60px !important;
}

.w60-per {
    width: 60% !important;
}

.font-size-30px {
    font-size: 30px !important;
}

.w90-per {
    /*width: 95%;*/
    margin: 0 auto;
}

.top-nomarg {
    margin-bottom: 0 !important;
}

.menu-ham {
    padding-top: -1px !important;
}

.section-blue-bg-full-width {
    background: #003B7E;
    color: #fff;
    padding: 40px;
}

.scheme-box {
    border-bottom: 2px solid #ffe500;
    padding-bottom: 1rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sc-block {
    min-height: 8rem;
    height: 8rem;
    width: 6rem;
    min-width: 6rem;
    background-color: #ffe500;
    border-radius: 5px;
    margin: .5rem;
    /* line-height: 8rem; */
    vertical-align: middle;
    text-align: center;
    color: #003B7E;
    font-weight: bold;
}

.no-bg{
    background-color:unset!important;
}

.sc-block-link {
    display: flex;
text-decoration: none;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
color: #003B7E!important;
font-size:18px;
}


.sc-link{
    text-decoration: none;
    color: white;
    padding-bottom: 1rem;
}
.sc-link:hover{
    color:#ffe500;
}

.sc-link-active {
    font-weight:bold!important;
    color:#ffe500;
}

.scheme-yellow-arow{
    width:15px;
    height:15px;
    float:right;
}

.products-section {
    padding: 4rem;
}

.product-box {
    min-height: 5rem;
    height: 5rem;
    cursor:pointer;
}

.product-box.active {
    transform-origin: right;
    margin-top: 5px;
    background-color:white;
    min-height:6rem!important;
    height:6rem!important;
}

.product-active {
    height: 5rem;
    margin-left: 3rem;
    width: 15rem;
    margin-top: .7rem;
    font-size: 18px;
    font-weight:bold;
    
}

.product-active>img{
    margin-top:-5px;
}


.product-icon-1 {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #ffe500;
    line-height: 3rem;
    text-align: center;
    display: block;
    margin-top: 1rem;
    position: absolute;
    padding: 7px !important;

}
.product-icon-1.active {
    margin-left:-25px;
    margin-left: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

.product-icon-1.active > img.active{
    max-width:36px;
    width:36px;
}


.product-icon-1.active > cover2{
    max-width:36px;
    width:36px;
}

.product-icon-1.active > cover3{
    max-width:36px;
    width:36px;
}

.cover1 {
    max-width: 22px;
    margin-bottom: 16px;
}

.cover2 {
    max-width: 35px ;
    margin-bottom: 16px;
}


.cover3 {
    max-width: 35px ;
    margin-bottom: 16px;
}


.mtp1r2{

    morgin-top:1rem!important;
}


.product-01 {
    height: 5rem;
    margin-left: 3rem;
    width: 15rem;
    margin-top: 1.5rem;
    font-size: small;
}




.product-highlighter {
    position: absolute;
    z-index: 10;
    width: 3em;
    height: 3em;
    margin-top: 1.7em;
    float: right !important;
    margin-left: 17.2em;
}

.product-highlighter.active {
    position: absolute;
    z-index: 10;
    width: 3em;
    height: 3em;
    margin-top: 2.2em;
    float: right !important;
    margin-left: 17.2em;
}



.product-row {
    border-right: 1px solid #003B7E;
    width: 18.7rem;
    min-width: 18.7rem;
    margin-right: 2rem;
}


.product-description{
    margin-left:2rem;
}

.mtop-1-5r {
    margin-top: 1.5rem !important;
}

.prod-decription-section {
    margin-left: 2rem !important;
}

.pad-l-r-60px {
    padding-left: 60px !important;
    padding-right: 60px !important;
}


.nowrap1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marg-top-less-4rem {
    position: relative;
    margin: 0 auto;
    clear: left;
    height: auto;
    z-index: 0;
    text-align: center;
    /* Add This*/
}

.align-normal {
    align-items: unset !important;
}

.h288px {
    height: 288px !important;
    width: auto !important;
}

.justify1 {
    text-align: justify !important;
}

.yellow-block {
    background-color: #ffe500;
    text-align: justify;
    padding: 2rem;
}

.swiper-wrapper {
    height: 600px !important;
    margin-left: 30px;
}

.slider-card {
    width: 450px;
    height: 300px;
    margin-top: 162px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0%;
}

.slider-card-body {
    text-align: center !important;

}

.swiper-slide {
    width: 520px !important;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

.swiper-slide-active .slider-card {
    transform: scale(1.5);
    margin-left: 90px !important;
    margin-right: 130px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    background-color: #ffe500;
    border-radius: 25px;
    right: 90px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {

    color: white;
    font-size: 25px !important;
    font-weight: bolder;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    background-color: #ffe500;
    border-radius: 25px;
    left: 80px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: white;
    font-size: 25px !important;
    font-weight: bolder;

}

.title9 {
    font-size: 20px;
    color: #000000;
    padding: 5px 0 7px;
    font-weight: bold;
    font-family: "GothamBold";
}

.title-yellow {
    font-size: 60px;
    color: #ffe500;
    font-family: 'GothamBold';
    padding-left: 0 !important;
}

.text9 {
    padding-left: 0 !important;
}

.advance-way-box {
    padding-left: 2rem !important;
}

.container-fluid {
    margin: 3rem  !important;
}



.container9 {
    margin: 50px 50px 50px 50px !important;
}

.left-content9 {
    width: 60% !important;
}

.right-content9 {
    width: 40% !important;
}

@media (min-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .left-content9 {
        width: 100% !important;
    }
}

.icon-holder9 {
    height: 50px!important;
    border: 1px solid black!important;
    border-radius: 25px!important;
    display: block!important;
    position: absolute!important;
    line-height: 50px!important;
    width: 50px!important;
}

.no-side-margin{
    margin-left: 0!important;
    margin-right: 0!important;
}

.track-talk1-img9{
    margin-left: .5rem;
}

.gray-bg{
    background-color: #f2f2f2!important;
}

.swiper-pagination-bullet-active {
    width: 50px!important;
    height: 7px!important;
    border-radius: 5px!important;
    background-color: #003B7E!important;
  }

  .swiper-pagination-bullet {
    width: 30px!important;
    height: 7px!important;
    border-radius: 5px!important;
    background: unset!important;
    border: 2px solid blue!important;
  }

  .scheme-box-row{
    --bs-gutter-x: 0!important;
  }

  .arrow-hide{
    display:none;
  }

  .arrow-show{
    display:content;
  }

  .nodisplay{
    display:none!important;
  }

  .displaythis{
    display:content!important;
  }

  .page-3_stage .section1 .right-content{
    width:50%!important;
  }

  /* The Modal (background) */
/* .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  } */
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-wrapper9 {
    z-index: 9999;
    width: 70vw;    
    display:block;
    background-color: white;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    font-family: 'gothambook';
    padding: 20px;
    border-radius:25px;
    overflow-y: auto;
  }


  .scheme-close-button{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: -20px;
    right: -20px;
  }

  .fruit-cap-img{
    width:200px;
    float:right;
    margin-left:20px;
    margin-top:-65px;
  }

    .img-normal-200{
    width:200px;
    float:right;
    margin-left:20px;
  }

  .product-description{
    height: 65rem;
    overflow-y:scroll;
    margin-right: 20px;
  }

  .description-section{
    margin-right:1.5rem;
  }

  .h3v{
    color: #003B7E;
    font-size: 50px;
    font-family: 'GothamBold';
    text-transform: uppercase;
  }