@font-face{font-family:GothamBold;src:url("GothamBold.eot");src:url("GothamBold.eot") format("embedded-opentype"),url("GothamBold.woff2") format("woff2"),url("GothamBold.woff") format("woff"),url("GothamBold.ttf") format("truetype"),url("GothamBold.svg#GothamBold") format("svg")}
@font-face{font-family:gothambook;src:url("gothambook-webfont.woff2") format("woff2"),url(".gothambook-webfont.woff") format("woff");font-weight:400;font-style:normal}
@font-face{font-family:Gotham;src:url("Gotham-Medium.woff2") format("woff2"),url(".Gotham-Medium.woff") format("woff");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:Gotham-Light;src:url("Gotham-Light.eot");src:url("Gotham-Light.eot?#iefix") format("embedded-opentype"),url("Gotham-Light.svg#Gotham-Light") format("svg"),url("Gotham-Light.ttf") format("truetype"),url("Gotham-Light.woff") format("woff"),url("Gotham-Light.woff2") format("woff2");font-weight:400;font-style:normal}
.logo{top:0;left:0;position:fixed;margin-left:0!important;z-index:10}
.logo{width:130px;display:inline-block;margin-left:-30px;background:#003b7e;padding:10px}
.logo img{display:block}
.header-menu{top:0;right:0;position:fixed;margin-right:0!important;z-index:10}
.header-menu{background:#003b7e;padding:5.5px 12px 3.5px;float:right;margin-right:-30px;align-items:center;display:flex;flex-direction:row-reverse}
.menu-ham{cursor:pointer;padding:2px 0 6px 10px}
.custom__select,.menu-ham{float:right;position:relative}
.custom__select,.menu-ham{float:right;position:relative}
.no-margin-bottom{margin-bottom:0!important}
.menu-click{list-style:none}
.menu-click svg{max-width:20px;vertical-align:middle}
.overlay-menu{height:0%;width:0;position:fixed;z-index:111111;top:0;left:0;background-color:#000;background-color:rgba(0,0,0,.9);overflow-x:hidden;width:100%;transition:.3s}
.overlay-menu .closebtn{position:absolute;top:-18px;right:3px;font-size:60px}
.overlay-content{position:relative;top:15%;width:100%;text-align:center;margin-top:30px}
.overlay-menu a{padding:15px 8px;text-decoration:none;font-size:36px;color:#fff;display:block;transition:.3s}
.custom__select,.menu-ham{float:right;position:relative}
.custom__select:before{content:"";background:#003b7e;width:2px;height:25px;position:absolute;right:-5px;top:3px}
.custom__select:before{background:#ffe500}
.custom__select select{border:0;background:0 0;font-size:18px;line-height:29px;color:#003b7e;font-family:GothamBold;-webkit-appearance:none;padding:1px 20px;font-weight:500;outline:0}
.custom__select select{color:#ffe500;padding-left:4px}
.overlay-content{position:relative;top:15%;width:100%;text-align:center;margin-top:30px}
.overlay-menu a{padding:15px 8px;text-decoration:none;font-size:36px;color:#fff;display:block;transition:.3s}
@media screen and (max-height:450px){
.overlay-menu a{font-size:20px}
}
body{margin:0;padding:0;width:100%;height:100%}
.header,body{font-family:Gotham-Light}